body {font-family: Arial, sans-serif;
     text-align: center;
     color: white;
     font-size: 32px;
     background-color: #032541;}

header {text-align: center;
        margin-bottom: 20px;}

.header-link {font-size: 24px;
              font-weight: bold;
              color: white;}

.header-link:hover {color: #333; 
                    cursor: default; 
                    input {margin-top:2rem;
                    padding: 1rem;}

  .weather_description {color: white;
                        margin-top: 2rem;}